################################################################################
# 這個 .gitignore 檔案由 Microsoft(R) Visual Studio 自動建立。
################################################################################

/backendTest/.vs/backendTest.slnx/FileContentIndex/3c25e2a5-ab59-488b-bfe6-843d0929f2f3.vsidx
/backendTest/.vs/backendTest.slnx/FileContentIndex/7f8308b2-5964-4b60-ac3f-93e0e68f88d3.vsidx
/backendTest/.vs/backendTest.slnx/v18/.suo
